.information {
    display: grid;
    align-items: center;
    padding: 5em 2em 8em 2em;
    grid-template-columns: 400px 1fr;
    gap: 4rem;
}

.profileContainer {
    position: relative;
}

.profileContainer .profile {
    width: 100%;
}

.contactInfo .icon {
    color: var(--primary);
}

.profileContainer::after {
    z-index: -1;
    content: '';
    border: 10px solid var(--primary);
    position: absolute;
    top: 40px;
    left: 40px;
    height: 100%;
    width: 100%;
}

.rightContent {
    display: grid;
    gap: 1rem;
    text-transform: capitalize;
}

.rightContent p:nth-child(1) {
    color: var(--primary);
}

.rightContent p:nth-child(4) {
    text-decoration: underline;
}

.contactInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

@media (max-width:1000px) {
    .information {
        grid-template-columns: auto;
    }

    .profileContainer {
        margin: auto;
    }

    .profileContainer .profile {
        height: 300px;
        width: 300px;
    }

    .profileContainer::after {
        height: 300px;
        width: 300px;
    }
}

@media (max-width:500px) {
    .information {
        padding: 2rem;
    }

    .profileContainer .profile {
        width: 250px;
        height: 250px;
    }

    .profileContainer::after {
        height: 250px;
        width: 250px;
    }
}